<html>

<head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="http://localhost:3000/" /> <!-- Meta Tags -->
    <title>Uptime Monitoring - Made Simple | UptimeChecker</title>
    <meta name="description" content="We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we\'ll send you a text to let you know">
    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>

<body class="index">
    <!-- Page Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <div class="header">
            <!-- Logo --> <a class="logo" href="/"> <img src="public/logo.png" alt="Logo" /> </a> <!-- Navigation -->
            <ul class="menu">
                <li> <a href="/">Home</a> </li>
                <li class="loggedOut"> <a href="/account/create">Signup</a> </li>
                <li class="loggedOut"> <a href="/session/create">Login</a> </li>
                <li class="loggedIn"> <a href="/checks/all">Dashboard</a> </li>
                <li class="loggedIn"> <a href="/account/edit">Account Settings</a> </li>
                <li class="loggedIn"> <a href="#" id="logoutButton">Logout</a> </li>
            </ul>
            <div class="clear"></div>
        </div> <!-- Page-Specific Content -->
        <div class="content">
            <h1>Uptime Monitoring</h1>
            <h2>Made Simple</h2>
            <div class="blurb">We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your
                site goes down, we\\\'ll send you a text to let you know.</div>
            <div class="ctaWrapper"> <a href="account/create" class="cta geen">Get Started</a> <a href="session/create"
                    class="cta blue">Login</a></div>
        </div> <!-- Footer -->
        <div class="footer">
            <div class="copyright">Copyright 2018 NotARealCompany Inc. | All Rights Reserved </div>
        </div>
    </div>
</body>

</html>
