<h1>Add An Item</h1>
<h2>The item will be added to your cart</h2>
<a class="backButton" href="/cart/all">Back</a>
<hr />

<div class="formWrapper">
    <div class="inputWrapper">
        <div class="inputLabel">Item List</div>
        <select name="itemList" id="itemList">
            <option value="" disabled selected>Select your option</option>
            <option value="Margherita">Margherita</option>
            <option value="Double Cheese Margherita">Double Cheese Margherita</option>
            <option value="Farm House">Farm House</option>
            <option value="Peppy Paneer">Peppy Paneer</option>
            <option value="Mexican Green Wave">Mexican Green Wave</option>
            <option value="Deluxe Veggie">Deluxe Veggie</option>
        </select>
    </div>

    <img id="itemImage">
    <h2>Price: <span id="displayPrice"></span></h2>

    <form id="cartCreate" action="/cart" method="POST">
        <div class="formError"></div>
        <input class="email" type="hidden" name="email" value="" >
        <input class="itemName" type="hidden" name="itemName" value="" />
        <div class="inputWrapper">
            <div class="inputLabel">Quantity</div>
            <input type="number" name="quantity" placeholder="5" min="1" />
        </div>

        <div class="inputWrapper ctaWrapper">
            <button type="submit" class="cta green">Add To Cart</button>
        </div>
    </form>
</div>